@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
     --color-primary: #137fec;

     /* Agregados desde el script */
     --color-primary: #607afb;
     --color-background-light: #f5f6f8;
     --color-background-dark: #101922;

     --font-family-display: 'Inter', sans-serif;
}

:root {
     color-scheme: light dark;

     --radius: 0.25rem;
     --radius-lg: 0.5rem;
     --radius-xl: 0.75rem;
     --radius-full: 9999px;
}

body {
     font-family: var(--font-family-display);
}

.material-symbols-outlined {
     font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
